<footer>
    <div class="footer-container">

        <!-- Logo Section -->
        <div class="footer-section">
            <img src="/images/Logo 2.png" alt="Lillian Morton Logo" width="150">
        </div>

        <!-- Navigation Area -->
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <span class="dropdown-btn">
                        Services
                        <img src="/images/dropdown.png" alt="Dropdown Icon" class="dropdown-icon">
                    </span>
                    <ul class="dropdown-content">
                        <li><a href="/counseling">Counseling</a></li>
                        <li><a href="/consultations">Consultations</a></li>
                        <li><a href="/evals">Psychoeducational Evaluations</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <!-- Request Appointment Area -->
        <div class="footer-appointment-button">
            <a href="/contact" class="appointment-button">Contact</a>
        </div>
        
        {{!-- 
        <!-- Appointment Times Section -->
        <div class="footer-section">
            <h3>Appointment Times</h3>
            <p><strong>Online:</strong></p>
            <p>Mon-Fri: 4:00-6:00 p.m.</p>
            <p>Saturday: 10:00-5:00 p.m.</p>

            <p><strong>In Person:</strong></p>
            <p>Saturday: 10:00-4:00 p.m. (Brea, CA)</p>
        </div> --}}

        {{!-- <!-- Contact Information Section -->
        <div class="footer-section">
            <h3>Contact Information</h3>
            <p><strong>Email:</strong> <a href="mailto:lillyrmorton@gmail.com">lillyrmorton@gmail.com</a></p>
            <p><strong>Phone:</strong> +1 (714) 406-4648</p>
            <p><strong>LEP License:</strong> Lillian Morton, LEP No. 4472</p>
        </div> --}}
    </div>
</footer>