<header class="header">
    <!-- Logo Area -->
    <div id="logo-title-button" class="logo">
        <img src="/images/Logo 2.png" alt="Logo" class="logo-img">
        <h1>Sage Psychological Services</h1>
    </div>

    <!-- Navigation Area -->
    <nav class="nav-menu">
        <div class="nav-menu-links">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li class="dropdown">
                    <span class="dropdown-btn">
                        Services
                        <img src="/images/dropdown.png" alt="Dropdown Icon" class="dropdown-icon">
                    </span>
                    <ul class="dropdown-content">
                        <li><a href="/counseling">Counseling</a></li>
                        <li><a href="/consultations">Consultations</a></li>
                        <li><a href="/evals">Psychoeducational Evaluations</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>

    <!-- Request Appointment Area -->
    <div class="nav-appointment-button">
        <a href="/contact" class="appointment-button">Let's Talk!</a>
    </div>
    
    <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>