<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="Lillian R. Morton">
    <meta property="og:description" content="Home of Lillian R. Morton Psychological Services">
    <meta property="og:image" content="/images/lrm-logo-image.png">
    <meta property="og:url" content="https://lillianrmorton.com/">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/Short-logo-LRM_V1.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/Short-logo-LRM_V1.png" sizes="16x16">
</head>
<body>
  <div id="loader">Loading...</div>
  <div id="main-content" style="display:none;">
    {{> header}}

    <main>
        {{{body}}}
    </main>

    {{> footer}}
  </div>

    <script src="/js/main.js"></script>
</body>
</html>